/*---------------------- 
     Google Font 
-----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@1&family=Poppins:ital,wght@0,400;0,500;1,600&family=Source+Serif+4:ital@1&family=Yeseva+One&display=swap');
/*---------------------------- 
      Common Style Here 
-----------------------------*/
body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
}
@media only screen and (max-width:668px){
    .r-for-small{
        font-size: 20px;
    }
    .pra-for-sm{
        display: none;
    }
}
